.signup {
  display: flex;
  justify-content: center;
  // text-align: center;
  // margin-top: 180px;
  // overflow: hidden;
}

.signup-title {
  text-align: center;
}

.signup-form {
  margin: 0 auto;
  padding: 40px;
  width: 600px;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 2px;

  &__window { 
    margin-bottom: 30px;
  }
  

  &__window {}

  &__inner {}

  &__btns {}
}


.signup-form__btns {
  display: inline;
}

.btn_signin {
  position: relative;
  left: 210px;
}

.btn_signup {
}

.signup {
  padding: 10px;
}

.input-email {
  margin-right: 20px;
}

input {
  border-color: rgb(10, 143, 99);
  border-radius: 4px;
  padding: 8px;
  display: inline;
  width: 100%;

  &:focus {
    outline-color: #0a8f63;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 179, 0.25);
    border-color: #0a8f63;
    outline: none;
  }
}

label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
}