.button {
  cursor: pointer;
  font-weight: 400;
  border: 0;
  color: #fff;
  border-color: #0a8f63;
  background-color: #0a8f63;
  border-radius: 8px;
  padding: 10px 30px;

  &:hover {
    transition: 0.4s;
    color: xrgba(248, 248, 248, 0.658);
    color: #fff;
    background-color: rgba(233, 72, 8, 0.952);
    border-radius: 8px;
  }
}